
<div class="row">
    <div class="small-12 columns">
        <div class="icon-bar three-up">
          <a class="item" href="/feed/new">
            <i class="fi-home"></i>
            <label>Sort Newest</label>
          </a>
          <a class="item" href="/feed/popular">
            <i class="fi-bookmark"></i>
             <label>Sort Popular</label>
          </a>
          <a class="item" href="/feed/old">
            <i class="fi-info"></i>
             <label>Sort Oldest</label>
          </a>
        </div>
    </div>
    
    <div class="small-12 columns">
        <%= render '/components/header' %>
    </div>
    
    <div class="small-12 columns">
        <%= render '/components/post_form' %>
    </div>
    <% for @p in @posts %>
        <div class="small-12 columns">
            <div class="panel">
                <div class="row">
                    
                    <div class="small-2 columns">
                        <a class="th"><img src="<%= User.find_by_id(@p.user_id).avatar %>"  height="100px" width="100px"/></a>
                    </div>
                    
                    <div class="small-10 columns">
                        <% if (@p.anon != true) %>
                        <h5><a href="/user/<%= User.find_by_id(@p.user_id).username %>"><%= User.find_by_id(@p.user_id).username %></a> @ <%= @p.created_at.to_formatted_s(:long).to_s %></h5>
                        <% else %>
                        <h5>Anonymous @ <%= @p.created_at.to_formatted_s(:long).to_s %></h5>
                        <% end %>
                        <p><%= @p.content %></p>
                    </div>
                </div>
                
            </div>
            
            <!-- begin comments -->
            <% @comments = Comment.all.where("post_id = ?", @p.id) %>
            <% @counter = 0 %> <!-- depth of comments to display -->
                <% for @c in @comments %>
                    <% if @counter < 3 %>
                    <div class="small-2 columns">
                        &nbsp;
                    </div>
                    <div class="small-10 columns">
                        <div class="panel">
                        <div class="row">
                            
                            <div class="small-2 columns">
                                <a class="th"><img src="<%= User.find_by_id(@p.user_id).avatar %>"  height="50px" width="50px"/></a>
                            </div>
                            
                            <div class="small-10 columns">
                                <h5><a href="/user/<%= User.find_by_id(@p.user_id).username %>"><%= User.find_by_id(@p.user_id).username %></a> @ <%= @p.created_at.to_formatted_s(:long).to_s %></h5>
                                <p><%= @c.content %></p>
                            </div>
                        </div>
                    </div>
                    </div>
                    <% @counter += 1 %>
                    <% end %>
            <% end %>
            <div class="small-2 columns">
                &nbsp;
            </div>
            <div class="small-10 columns">
                <div class="row">
                    
                    <div class="small-12 columns" style="margin-bottom: 15px;">
                        <a href="/post/<%= @p.id %>">View All Comments (<%= Comment.all.where("post_id = ?", @p.id).count.to_s %>)</a>
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- end comments -->
    <% end %>
    <%= will_paginate @posts %>
</div>