<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
  <title>ProjectSoaringEagle</title>
=======
  <title>Workspace</title>
>>>>>>> 5e72d4cf8f03d7bd0d6dcaa4ef76f3799bce48bf
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<<<<<<< HEAD

=======
<%= render '/components/nav' %>
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
>>>>>>> 5e72d4cf8f03d7bd0d6dcaa4ef76f3799bce48bf
<%= yield %>

</body>
</html>
